<div class="span6 offset3">
	<div class="boxy">

	<h1 class="custom-font">Hey, It's Renee</h1>


	<p>I'm experimenting with Web Development and I have no clue what is going on!</p>
	<%= link_to('Click!!', '#', :class => 'btn btn-info btn-large') %>
	</div>
</div>